@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 65.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #FFF8F8 ;
    color: black;
    font-size: 14px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgba(255, 245, 245, 0.5); /* làm nền có chút trong suốt */
    backdrop-filter: blur(20px); /* tạo hiệu ứng mờ nền */
    -webkit-backdrop-filter: blur(10px); /* cho Safari */
    filter: drop-shadow(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1.2px solid #b74b4b;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.2);
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover{
    color: #b74b4b;
}
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
@media(max-width:940px){
    .menu-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
      }

    nav{
        display: none;
        
    }

    nav.active{
        background-color: #FFF8F8; /* làm nền có chút trong suốt */
        backdrop-filter: blur(20px); /* tạo hiệu ứng mờ nền */
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        top: 2px;
        right: 50px;
        width: 40%;
        border: 2px solid #efe5e5;
        border-radius: 15px;
        padding: 1rem solid;
        box-shadow: 0 2px 3px rgba(237, 218, 218, 0.1);
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 5% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #FFF8F8 ;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.member-img img{
    position: relative;
    width: 26.5vw;
    border-radius: 5%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #FFF8F8 ;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: white;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #FFF8F8 ;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "a Smart assistant";
    }
    21%, 40%{
        content: "a Home manager";
    }
    41%, 60%{
        content: "Your butler";
    }
    61%, 80%{
        content: "Your companion";
    }
    81%, 100%{
        content: "Your friend";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
    gap: 1.6rem; /* khoảng cách giữa các item */
    padding: 2rem;
}

.mode-card {   
    border: 1.7px solid #efe5e5;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 1.5px 1px rgba(237, 218, 218, 0.1);
    transition: 0.3s ease;
}
.mode-card.active{
    background-color: #b74b4b;
    padding: 1.5rem;
    color: white;
    box-shadow: 0 0 12px #b74b4b;
    border: 1.7px solid #b74b4b;
}

.mode-card:hover{   
    transform: scale(1.02);
    border: 1.7px solid #b74b4b;
    box-shadow: 0 0 12px #b74b4b;
}
.mode-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.active-label {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background: #b74b4b;
    border-radius: 15px;
    font-size: 1.1rem;
    color: white;
}

.login-container {   
    background-color: #FFFBFB4D;
    backdrop-filter: blur(20px); /* tạo hiệu ứng mờ nền */
    border: 1.7px solid #efe5e580;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 1.5px 1px rgba(237, 218, 218, 0.1);
    transition: 0.3s ease;
}
  .login-container h2 {
    text-align: left;
    margin-bottom: 20px;
  }
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 14px;
  }
  .login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b74b4b;
    border: none;
    color: white;
    border-radius: 14px;
    cursor: pointer;
  }
  .login-container input[type="submit"]:hover {
    background-color: #a74a4a;
  }

  .clock {
    background-color: #efe5e580;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-size: 48px;
    font-weight: bold;
    color: #333;
  }

  